<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621010608620-eoo21upnpb7dqsqur8klse98ktnbuksd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621010608620-eoo21upnpb7dqsqur8klse98ktnbuksd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621010608620-m2is8hd7r2fsmus3iqp760blme9cnspb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvkiJqCaACLKAzB7chboM1CX_T6hI1sgw</string>
	<key>GCM_SENDER_ID</key>
	<string>621010608620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp4</string>
	<key>PROJECT_ID</key>
	<string>dawey-d1e05</string>
	<key>STORAGE_BUCKET</key>
	<string>dawey-d1e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621010608620:ios:eb0ca86b09499afdfb20c9</string>
	<key>DATABASE_URL</key>
	<string>https://dawey-d1e05.firebaseio.com</string>
</dict>
</plist>